.level-one-end-wrapper {
    background: url(../../../../images/toSecondLevelBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.to-second-level{
    position: absolute;
    height: 400px;
    left: 220px;
    top: 50px;
    cursor: pointer;
}