.level-one-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../../../images/levelOneBg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.level-one-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 80%;
    background-color: #d8d8d791;
    border-radius: 45px;
    position: relative;
}    
/* .level-one-wrapper .control-ballons{
    position: absolute;
    bottom: 0;
    left: 20px;
    z-index: 4444;
} */
.level-one-wrapper .control-ballons .settings-ballon{
    height: 300px;
}
.level-one-points{
    font-size: 50px;
    position: absolute;
    top: 50px;
    right: 80px;
    background-color:#568a3f;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}