.level-two-end-wrapper {
    background: url(../../../../images/toThirdLevelBg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.level-two-end-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 80%;
    position: relative;
}
.level-two-end-baloon{
    position: absolute;
    right: -40px;
    top: -60px;
    height: 600px;
    cursor: pointer;
}
.level-two-heading {
    text-align: center;
}
.level-two-heading h1{
    font-size: 90px;
    text-align: center;
    word-break: break-all;
}