.game-wrapper{ 
    min-height: 100vh;
    background-color: rgb(182, 182, 182);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.game-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-container > ul{
    list-style: none;
}
.game-container li{
    display: flex;
    align-items: center;
    font-size: 25px;
    width: 500px;
    height: 60px;
    background-color: rgb(228, 151, 9);
    margin-top: 10px;
    padding: 5px 5px 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.game-container li:hover{
    background-color: rgb(202, 147, 45);
  
}
.user-choice-alert{
    font-size: 50px;
}