.menu-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../../images/menuBg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.menu-page-container {
  width: 95vw;
  min-height: 95vh;
}
.control-ballons {
  position: absolute;
  bottom: 0;
}
.menu-ballon {
  position: absolute;
  bottom: 200px;
  cursor: pointer;
  height: 250px;
}
.settings-ballon {
  position: absolute;
  bottom: 0px;
  left: 200px;
  top: -370px;
  cursor: pointer;
  height: 370px;
}
.sound-ballon {
  position: absolute;
  top: -240px;
  left: 50px;
  cursor: pointer;
  height: 230px;
}
.levels {
  position: absolute;
  right: 100px;
}
.level-one-ballon {
  position: absolute;
  right: 600px;
  width: 230px;
  top: 150px;
  cursor: pointer;
}
.level-two-ballon {
  position: absolute;
  right: 280px;
  width: 300px;
  cursor: pointer;
}
.level-three-ballon {
  position: absolute;
  right: -20px;
  width: 230px;
  cursor: pointer;
}
